lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
doc/out
.settings
pids
logs/*.*
results
build
.DS_Store
.c9revisions/
node_modules/
test/client/screenshot/*
test/client/mocks/angular-mocks.js

# ignore client build
client/build/

# ignore built files for development, so we can better track code difference
public/assets/css/*.css
public/assets/css/*.map
public/assets/css/vendor/**/*.css
public/assets/css/vendor/**/*.map
public/assets/js/*.js
public/assets/js/vendor/*.js
public/assets/js/vendor/*.map
public/assets/images/vendor/*/*
public/assets/fonts/vendor/*/*
public/assets/templates
